.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden; 
}

.mainContent { 
    flex-grow: 1; 
    padding: 2rem;
    overflow-y: auto; 
    background-color: var(--bg-color);
    position: relative;
}