name: Build, Tag, and Release Polyglot Air

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Bump version and create Git tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: "patch"

      - name: Update package.json version
        run: npm version ${{ steps.tag_version.outputs.new_version }} --no-git-tag-version

      - name: Package and build application
        run: npm run dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: |
            <p align="center">
              <img src="https://raw.githubusercontent.com/andersondanieln/polyglot/main/public/images/logo-dark.svg" width="250">
            </p>

            Official release of version ${{ steps.tag_version.outputs.new_tag }}. Check out what's new:
          generate_release_notes: true
          files: release/build/Polyglot Air Setup *.exe
